<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Michel, Cassandra, Google et les autres</title>
  <style>
    @font-face {
      font-family: LibreBaskerville;
      src: url(static/fonts/LibreBaskerville/LibreBaskerville-Regular.ttf) format('truetype');
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: LibreBaskerville;
      src: url(static/fonts/LibreBaskerville/LibreBaskerville-Italic.ttf) format('truetype');
      font-weight: normal;
      font-style: italic;
    }

    @font-face {
      font-family: LibreBaskerville;
      src: url(static/fonts/LibreBaskerville/LibreBaskerville-Bold.ttf) format('truetype');
      font-weight: bold;
      font-style: normal;
    }

    @font-face {
      font-family: Toren;
      src: url(static/fonts/Toren/Toren-Proportional.otf) format('opentype');
      font-weight: normal;
      font-style: normal;
    }

    html {
      font-size: 21px;
    }

    body {
      font-family: LibreBaskerville;
      background: rgb(0, 45, 61);
      color: rgb(247, 247, 247);
      padding-top: 1rem;
      padding-left: 1.5rem;
      padding-right: 2rem;
      margin: 0;
      display: grid;
      grid-template-columns: min-content 1.5fr;
      height: calc(100% - 1.5rem);
    }

    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }

    a {
      color: inherit;
    }

    h1, h2, h3 {
      font-weight: normal;
      font-size: 100%;
    }

    article h1 {
      white-space: nowrap;
    }

    article p {
      font-size: 70%;
      max-width: 60ch;
      line-height: 1.6;
      padding-right: 2.5rem;
    }
  </style>
</head>
<body>
  {% block body %}
  {% endblock %}
</body>
</html>