{% extends "base.html" %}
{% block refresh %}5{% endblock %}
{% block body %}
  {% if language == 'en' %}
  <h2>
    <h2>Could not generate a poem on <span class="keyword-marker">{{ keyword.keyword }}</span></h2>
  </h2>
  {% else %}
  <h2>
    <h2>IN FRENCH: Could not generate a poem on <span class="keyword-marker">{{ keyword.keyword }}</span></h2>
  </h2>
  {% endif %}
{% endblock %}