<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="refresh" content="{% block refresh %}30{% endblock %}">
  <title>E-traces</title>
  <style>
    @font-face {
      font-family: LibreBaskerville;
      src: url(static/fonts/LibreBaskerville/LibreBaskerville-Regular.ttf) format('truetype');
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: LibreBaskerville;
      src: url(static/fonts/LibreBaskerville/LibreBaskerville-Italic.ttf) format('truetype');
      font-weight: normal;
      font-style: italic;
    }

    @font-face {
      font-family: LibreBaskerville;
      src: url(static/fonts/LibreBaskerville/LibreBaskerville-Bold.ttf) format('truetype');
      font-weight: bold;
      font-style: normal;
    }

    @font-face {
      font-family: Toren;
      src: url(static/fonts/Toren/Toren-Proportional.otf) format('opentype');
      font-weight: normal;
      font-style: normal;
    }

    html {
      font-size: 21px;
    }

    body {
      overflow: hidden;
      background: rgb(0, 45, 61);
      color: rgb(247, 247, 247);
      font-family: LibreBaskerville;
      max-width: 70ch;
      margin: 0;
      padding-top: 0;
      padding-left: 2rem;
    }

    a {
      color: inherit;
      word-break: break-all;
    }

    h2 {
      font-weight: normal;
      font-size: 100%;
    }
    
    h3 {
      font-weight: normal;
      font-size: 100%;
    }

    .poem-line {
      display: block;
    }

    .poem-lines {
      line-height: 1.7;
      white-space: nowrap;
      margin-top: 1rem;
      margin-bottom: 2.5rem
    }

    .poem-lines sup {
      font-size: 60%;
    }
    
    .sources {
      font-size: 65%;
    }

    ol {
      margin-left: 0;
      padding-left: 0;
    }

    li {
      margin-top: .5em;
    }
/* 
    .keyword-marker {
      text-decoration: underline;
      text-decoration-style: dotted;
    } */
  </style>
</head>
<body>
  {% include "poem--body.html" %}
  <script>
    (function () {

      function hide (el) {
        el.style.visibility = 'hidden';
      }


      function show (el) {
        el.style.visibility = 'visible';
      }

      let header = document.querySelector('h2'),
          lines = document.querySelectorAll('.poem-line'),
          sources = document.querySelector('.sources');

      // hide(header);
      lines.forEach((l) => { hide(l) });
      hide(sources);

      interval = 2500;

      window.setTimeout(() => show(lines[0]), interval);
      window.setTimeout(() => show(lines[1]), interval * 2);
      window.setTimeout(() => show(lines[2]), interval * 3);
      window.setTimeout(() => show(lines[3]), interval * 4);
      window.setTimeout(() => show(sources), interval * 5);
    })();
  </script>
</body>
</html>